/* Show a progress cursor when loading something and do not allow to click somewhere */
._dash-loading-callback {
  /* This is an invisible banner that covers the whole screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: progress;
}

/* Define main colors here */
:root {
    --DeleteError: #CC071E;
    --UpdateBorder: #FFA07A;
    --ActiveEvenRow: #FFA07A;
    --Button: #FFEFD5;
    --Background: #FAF0E6;
    --EvenRow: #FAF0E6;
    --RowHeader: #FFE4B5;
    --BorderHover: #FF7F50;
}

/* Set font to Arial for the whole site */
body {
    font-family: Arial;
}

h2 {
    font-size: 18pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

button {
    background-color: var(--Button);  /*PapayaWhip, button background*/
    border-color: var(--BorderHover); /*coral, button border*/
    border-radius: 5pt;
    border-style: solid;
    display: inline-block;
    font-size: 10pt;
}
button:hover:enabled {
    background-color: var(--BorderHover); /*coral, buttonhover, background*/
    color: white; /*white, buttonhover, textcolor*/
    cursor: pointer;
}

.button {
    background-color: var(--Button);  /*PapayaWhip, button background*/
    display: inline-block;
    border-color: var(--BorderHover); /*coral, button border*/
    border-radius: 5pt;
    border-style: solid;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    font-size: 9pt;
    border-width: medium;
    cursor: default;
}
.button:hover {
    background-color: var(--BorderHover); /*coral, buttonhover, background*/
    color: white; /*white, buttonhover, textcolor*/
}

input {
    border-color: var(--BorderHover); /*coral, text typing area, border*/
    border-radius: 5pt;
    border-style: solid;
    display: inline-block;
    margin: 2pt;
}

textarea {
    border-color: var(--BorderHover); /*coral, min_img, RHS, border*/
    border-radius: 5pt;
    border-style: solid;
    border-width: thin;
}

td {
    --accent: var(--BorderHover);  /*coral*/
}

th {
    --accent: var(--BorderHover); /*coral*/
}

.btn_delete {
    border-color: var(--DeleteError);
    color: var(--DeleteError);
}
.btn_delete:hover:enabled {
    background-color: var(--DeleteError);
}

/* main div containing div of  title 'Ice Data Hub' and logos */
.div_heading_logo {
    position: fixed;
    height: 90px;
    width: 99%;
    border-style: solid;
    border-color: var(--Background); /*var(--Linen), logo section border*/
    border-width: medium;
    border-radius: 5pt;
}

/* div containing the tile 'Ice Data Hub' */
.div_heading {
    width: 49.5%;
    height: 100%;
    float: left;
}

/* heading Ice Data Hub */
.h1_heading {
    word-wrap: break-word;
    font-size: 80px;
    font-weight: bold;
    float: left;
    vertical-align: bottom;
    left: 0;
}

/* div for the two logos */
.div_logo {
    width: 49.5%;
    height: 100%;
    float: right;
}

/* html image for the left logo */
.logo_left {
    height: 100%;
    float: left;
    margin-left: 5pt;
    margin-right: 5pt;
}

/* html image for the right logos */
.logo_right {
    height: 100%;
    float: right;
    margin-left: 5pt;
    margin-right: 5pt;
}


/* the below separates the main divs */
/* so now we will be moving to the drop down and the selection area */
/*---------------------------------------------------------------------------------------------------*/

/* the main div containing dropdown, select options , etc */
.div_dropdown {
    position: fixed;
    background-color: var(--Background); /*var(--Linen), LHS, background*/
    top: 110px;
    height: calc(100% - 115px);
    width: 350px;
    border-radius: 5pt;
}

/* this div contains the dark blue scorlling area with the select options */
.div_select_area {
    position: absolute;
    overflow: auto;
    height: calc(100% - 5*5pt - 2*18pt - 57pt - 54px);
    width: calc(100%);
    font-size: 80%;
}

/* small left portion div on the left side */
.div_show_data {
    display: inline-block;
    width: 1.5em;
    height: calc(100% - 3em);
}

/* vertical title of "show data" */
.p_show_data {
    writing-mode: vertical-lr;
    margin: 2pt;
    height: 75px;
}

/* radio item select options (circular options) */
.radio {
    display: block;
    font-size:100%;
}

/* large right portion div on the left side that contains the titles/ file names */
.div_show_map {
    display: inline-block;
    height: calc(100% - 3em);
    width: calc(100% - 1.5em);
}

/* check list select options (square options) */
.p_show_map {
    writing-mode: vertical-lr;
    margin: 2pt;
    height: 75px;
}

/* div that contains the filter text area and filter button */
.div_filter_option {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* input for filtering the options displayed in the select option div */
.input_filter {
    margin-left: 2px;
    margin-right: 2px;
    height: 1.5em;
    width: calc(100% - 115px - 12px);
}

/* filter button for filtering the options displayed in the select option div */
.button_filter {
    height: 2em;
    width: 115px;
}
.button_filter::-moz-focus-inner {
    border: 0;
}

/* div that contains the text area and add button for adding new file */
.div_new_file {
    position: absolute;
    bottom: 0;
    margin-bottom: 5pt;
    margin-top: 5pt;
    height: 54px;
    width: 100%;
}

/* input for the new file name */
.input_add_file {
    margin-left: 2px;
    margin-right: 2px;
    height: 1.5em;
    width: calc(100% - 115px - 12px);
}

/* button for adding then new file */
.button_add_file {
    height: 2em;
    width: 115px;
}
.button_add_file::-moz-focus-inner {
    border: 0;
}


/* the below separates the main divs */
/* so now we will be moving to the tab region */
/*--------------------------------------------------------------------------------------------------*/

/* style for the tabs */
.tabs {
    border-radius: 5pt;
}

/* div for the whole tab area */
.display_map_data_graph {
    position: fixed;
    top: 110px;
    height: calc(100% - 115px - 60px);
    left: calc(350px + 0.8%);
    width: calc(98.9% - 350px);
    border-radius: 5pt;
}

.tab {
    border-radius: 5pt;
}

/* div for the first tab of large maps */
.div_single_tab {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5pt;
}

/* large map */
.iframe_map {
    position:absolute;
    width:100%;
    height:100%;
    border:0;
    border-radius: 5pt;
}

/* div for the data tab for data tab and plot tab */
.div_display_data {
    position: absolute;
    background-color: white;
    left: 2%;
    top: 25%;
    height: 73%;
    width: 96%;
    border-radius: 5pt;
}

/* div containing divs of single small map and the text areas for data tab and plot tab */
.div_single_tab_map_text {
    position: absolute;
    background-color: var(--Background); /*var(--Linen), RHS of mini_img, under the textarea, background*/
    height: 120pt;
    width: 100%;
    border-radius: 5pt;
}

/* div containing single small map for data tab and plot tab */
.div_single_map {
    position: absolute;
    height: 100%;
    width: 30%;
    border-radius: 5pt;
}

/* single small map for data tab and plot tab */
.iframe_map_single {
    position:absolute;
    width:100%;
    height:100%;
    border:0;
    border-radius: 5pt;
}

/* div containing the text areas for data tab and plot tab */
.div_description {
    position: absolute;
    right: 0.5%;
    height: 100%;
    width: 69%;
}

/* text area of the title for data tab for data tab and plot tab */
.textarea_title {
    position: absolute;
    resize: none;
    font-size: 20pt;
    font-weight: bold;
    height: 24pt;
    width:  100%;
}

/* text area of the description for data tab for data tab and plot tab */
.textarea_description {
    position: absolute;
    resize: none;
    top: 29pt;
    height: calc(100% - 35pt);
    width:  calc(100% - 92pt);
}

.img_modal{
    width: 100%;
    height: auto;
}

.div_figures {
    position: absolute;
    top: 27pt;
    left: calc(100% - 89pt);
    height: 92pt;
    width:  92pt;
}

.div_upload_figure_block {
    position: absolute;
    display: block;
}

.div_upload_figure_inline {
    position: absolute;
    display: inline-block;
}

.div_upload_figure_hidden {
    position: absolute;
    display: none;
}

.upload_figure {
    clear: left;
    margin: 0;
    borderWidth: 0;
}

.upload_figure_rejected {
    clear: left;
    margin: 0;
    borderWidth: 0;
    background-color: var(--DeleteError);
}

.img_figure_hidden {
    display: none;
}

.img_figure {
    border-color: var(--BorderHover); /*var(--coral), border of the updated img*/
    border-radius: 5pt;
    border-style: solid;
    display: inline-block;
    background-color: white; /*white*/
    border-width: thin;
    text-align: center;
    vertical-align: middle;
    font-size: 38pt;
    margin-left: 3pt;
    margin-top: 3pt;
    height: 41.5pt;
    width: 41.5pt;
    cursor: default;
}
.img_figure:hover {
    background-color: var(--BorderHover); /*var(--coral)*/
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

/* text area of the description for images */
.textarea_img_modal {
    resize: vertical;
    width:  100%;
    height: 100px;
}

.div_add_figure {
    border-color: var(--BorderHover); /*var(--coral), the border of + button*/
    border-radius: 5pt;
    border-style: solid;
    display: inline-block;
    background-color: white;
    border-width: thin;
    text-align: center;
    vertical-align: middle;
    font-size: 38pt;
    margin-left: 3pt;
    margin-top: 3pt;
    height: 41.5pt;
    width: 41.5pt;
    cursor: default;
}
.div_add_figure:hover {
    background-color: var(--BorderHover); /*var(--coral), background color when hover on the + button*/
    color: white; /*white, color of + when hover*/
    cursor: pointer;
}

/* center div for the datatable in purple for data tab and plot tab */
.div_main_datatable {
    position: absolute;
    bottom: 0;
    height: calc(100% - 180pt);
    overflow-y: auto;
    width: 100%;
    background-color: var(--Background); /*var(--Linen), color before showing the plot and table*/
    border-radius: 5pt;
}

.btn_exp {
    display: inline-block;
    margin-left: 2px;
}

.p_error {
    color: var(--DeleteError);
}

.radio_nexd {
    display: inline-block;
}

/* div for containing all the buttons in all the sub tabs */
.div_buttons {
    position: absolute;
    background-color: var(--Background); /*var(--Linen), background color under the button area, buttons over the tables and plot*/
    top: 125pt;
    height: 50pt;
    width: 100%;
    border-radius: 5pt;
}

.dd_plot {
    width: 33.3%;
    font-size: 13px;
    display: inline-block;
    verticalAlign: top;
}
/* 1st button in 1st row */
.button_11 {
    position: absolute;
    top: 15%;
    left: 0.8%;
    width: 24%;
    height: 15pt;
    margin: auto;
}

/* half 1st button in 1st row */
.input_11a {
    position: absolute;
    margin: 0;
    top: 15%;
    left: 0.8%;
    width: calc(12% - 8pt);
    height: 10.5pt;
}
/* half 1st button in 1st row */
.button_11b {
    position: absolute;
    top: 15%;
    left: 12.8%;
    width: 12%;
    height: 15pt;
    margin: auto;
}

/* 2nd button in 1st row */
.button_12 {
    position: absolute;
    top: 15%;
    left: 25.6%;
    width: 24%;
    height: 15pt;
    margin: auto;
}

/* 3rd button in 1st row */
.button_13 {
    position: absolute;
    top: 15%;
    left: 50.4%;
    width: 24%;
    height: 15pt;
    margin: auto;
}

/* 4th button in 1st row */
.button_14 {
    position: absolute;
    top: 15%;
    left: 75.2%;
    width: 24%;
    height: 15pt;
    margin: auto;
}

/* half 4th button in 1st row */
.button_14a {
    position: absolute;
    top: 15%;
    left: 75.2%;
    width: 12%;
    height: 15pt;
    margin: auto;
}

/* half 4th button in 1st row */
.input_14b {
    position: absolute;
    margin: 0;
    top: 15%;
    left: 87.4%;
    width: calc(12% - 8pt);
    height: 10.5pt;
}

/* 1st button in 2nd row */
.button_21 {
    position: absolute;
    top: 55%;
    left: 0.8%;
    width: 24%;
    height: 15pt;
    margin: auto;
}

/* 2nd button in 2nd row */
.button_22 {
    position: absolute;
    top: 55%;
    left: 25.6%;
    width: 24%;
    height: 15pt;
    margin: auto;
}

/* 3rd button in 2nd row */
.button_23 {
    position: absolute;
    top: 55%;
    left: 50.4%;
    width: 24%;
    height: 15pt;
    margin: auto;
}

/* 4th button in 2nd row */
.button_24 {
    position: absolute;
    top: 55%;
    left: 75.2%;
    width: 24%;
    height: 15pt;
    margin: auto;
    border-color: var(--DeleteError);
    color: var(--DeleteError);
}
.button_24:hover:enabled {
    background-color: var(--DeleteError);
}

/*!
The following part related to the modal component of dash_bootstrap_components is from:
 * Bootstrap v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}